/ABSBioMatcher/assets
/ABSBioMatcher/bin
/ABSBioMatcher/gen
/BioMatcher/gen
/BioMatcher/.apt_generated
/BioMatcher/assets
/BioMatcher/bin
/BioMatcherTestTest/assets
/BioMatcherTestTest/bin
/BioMatcherTestTest/gen
